.body{
	position:relative;
}
#bg-oley{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index:100;
}
#ajax-content-lightbox,
#ajax-recensie-lightbox{
	position:absolute;
	z-index:200;
	top:50%;
	left:50%;
	width:790px;
	background:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 8px 0px #000000;
	box-shadow: 0 0 8px 0px #000000;
}
#ajax-content-lightbox .ligtbox-cart,
#ajax-recensie-lightbox{
	padding: 30px 40px 32px;
}
#ajax-success-lightbox{
	padding: 100px 115px 55px 80px;
	min-height: 400px;
}
#ajax-loadings{
	position:fixed;
	z-index:200;
	top:50%;
	left:50%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 8px 0px #000000;
	box-shadow: 0 0 8px 0px #000000;
	width:790px;
	/*height:430px;*/
	background:#fff;
	text-align: center;
	font-family: "proxima_nova_rgregular";
	font-size: 24px;
	color: #333333;
	font-style: italic;
}
.in-ajax-loadings{
	padding: 115px 30px;
}
#close-wrapper-button{
	position:absolute;
	right:-26px;
	top:-23px;
	width:47px;
	height:44px;
	z-index:210;
	cursor:pointer;
	text-indent: -9999px;
	white-space: nowrap;
	background: url(../images/popup/close-popup.png);
}
.lightbox .page-title{
	margin: 0 0 15px 0;
}
.lightbox h1{
	text-transform: uppercase;
	padding: 0;
	font-size: 28px;
}
.lightbox .page-title a{
	float: right;
	border: 1px solid #f5f5f5;
    color: #333333;
    display: inline-block;
    font-family: "proxima_nova_rgbold",Helvetica,sans-serif;
    font-size: 12px;
    line-height: normal;
    padding: 11px 16px 8px 14px;
    position: relative;
    vertical-align: top;
}
.wrap-popup-table{
	background: rgba(229, 246, 255, 0.75);
	border: 1px solid #8ccbff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 24px 21px 18px;
}
.wrap-popup-table table{
	line-height: normal;
	width: 100%;
}
.wrap-popup-table thead td{
	font-size: 18px;
	color: #000;
	font-family: "proxima_nova_rgregular";
	padding-bottom: 15px;
}
.wrap-popup-table img{
	border: 1px solid #8ccbff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.wrap-popup-table .quantity{
	float: left;
	padding-right: 10px;
	font-size: 15px;
	color: #333333;
	font-family: 'proxima_novasemibold';
}
.wrap-popup-table .name{
	font-size: 15px;
	color: #333333;
	font-family: 'proxima_novasemibold';
}
.wrap-popup-table .price{
	font-size: 15px;
	color: #333333;
	font-family: "proxima_nova_rgregular";
	font-weight: bold;
}
.wrap-popup-table .info{
	overflow: hidden;
	max-width: 325px;
}
.wrap-popup-table .title{
	font-size: 12px;
	color: #333;
	font-family: "proxima_nova_rgregular";
}
.wrap-popup-table .border{
	border-bottom: 1px solid #a9d9ff;
	border-top: 1px solid #a9d9ff;
}
.ligtbox-cart .your-order-block{
	border:0;
	padding-bottom: 0;
}
.ligtbox-cart .dealings-block li{
	margin-bottom: 20px;
}
.ligtbox-cart .dealings-block li:nth-child(4){
	margin-left: 0;
}
.ligtbox-cart .dealings-block h1{
	font-size: 25px;
	position: relative;
}
.ligtbox-cart .dealings-block h1:after{
	content: '';
	display: inline-block;
	background: url(../images/popup/arrow.png) 0 0 no-repeat;
	width: 45px;
	height: 29px;
	margin-left: 25px;
}
.ligtbox-cart .dealings-block .button.top{
	font-family: "proxima_nova_rgbold",Helvetica,sans-serif;
}
.ligtbox-cart .dealings-block .button{
	padding: 0 30px;
}
.in-ajax-loadings .loader-icon img{
	display: block;
	margin: 0 auto;
}
.in-ajax-loadings .loader-icon{
	padding: 75px 0 60px;
}
.in-ajax-loadings p:last-child{
	font-size: 20px;
}
.ajax-recensie-lightbox,
.ajax-success-lightbox{
	font-size: 15px;
	color: #000;
	font-family: "proxima_nova_rgregular";
	line-height: normal;
}
.ajax-recensie-lightbox .input,
.ajax-recensie-lightbox input{
	float: none;
}
.ajax-recensie-lightbox .input{
	margin-bottom: 17px;
}
.ajax-recensie-lightbox label{
	display: block;
	margin-bottom: 8px;
}
.ajax-recensie-lightbox strong,
.ajax-success-lightbox strong{
	font-family: 'proxima_novasemibold'!important;
	font-weight: normal!important;
}
.ajax-recensie-lightbox h1,
.ajax-success-lightbox h1{
	float: none!important;
}
.ajax-recensie-lightbox .page-tilte-left{
	float: left;
}
.ajax-recensie-lightbox .page-tilte-right{
	float: right;
	margin-top: -17px;
}
.ajax-recensie-lightbox .page-tilte-left h2{
	font-family: "proxima_nova_rgbold",Helvetica,sans-serif;
	font-size: 17px;
	color: #333333;
}
.ajax-recensie-lightbox table{
	width: 100%;
	font-size: 15px;
	color: #000;
	font-family: "proxima_nova_rgregular";
	margin-bottom: 40px;
}
.ajax-recensie-lightbox table tr{
	border-top: 2px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}
.ajax-recensie-lightbox table td{
	padding: 18px 0;
}
.ajax-recensie-lightbox table img{
	margin-right: 10px;
}
.wrap-rating-box,
.radio-box{
	margin-bottom: 15px;
	padding-bottom: 0;
}
.wrap-rating-box strong,
.radio-box strong{
	display: block;
	margin-bottom: 8px;
}
.ajax-recensie-lightbox .info{
	display: inline-block;
	vertical-align: top;
	background: url(../images/popup/info-icon.png) 0 0 no-repeat;
	width: 12px;
	height: 12px;
	margin-left: 5px;
}
.radio-box label{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
}
.textarea-box:after{
	content: '';
	display: block;
	clear: both;
}
.in-textarea-left{
	float: left;
}
.in-textarea-right{
	overflow: hidden;
	padding: 55px 0 0 50px;
}
.in-textarea-right ul{
	padding-left: 3px;
}
.in-textarea-right li:after{
	content: '-';
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-right: 4px;
}
.in-textarea-right strong{
	display: block;
	margin-bottom: 10px;
}
.in-textarea-left textarea{
	height: 200px;
}
.ajax-recensie-lightbox .textarea-box{
	margin-bottom: 30px;
}
.ajax-success-lightbox h1{
	font-size: 24px;
	text-transform: none;
	font-family: "proxima_nova_rgregular"!important;
	font-style: italic;
	margin-bottom: 7px;
}
.ajax-success-lightbox strong{
	font-family: "proxima_nova_rgregular";
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
	display: block;
	margin-bottom: 70px;
}
.ajax-success-lightbox .block-social{
	background: none;
	padding: 0;
	float: left;
}
.ajax-success-lightbox .block-social:before{
	display: none;
}
.ajax-success-lightbox .block-social li{
	float: none;
	display: block;
	margin-bottom: 35px;
	width: auto;
	padding: 0 0 0 52px;
}
.ajax-success-lightbox .slogan{
	color: #00468c;
    font-family: "proxima_nova_rgregular";
    font-size: 14px;
    font-style: italic;
    line-height: normal;
    overflow: hidden;
    padding-left: 130px;
    padding-right: 4px;
}
.ajax-success-lightbox .slogan:after{
	content: '';
	display: block;
	background: url(../images/arrow-4.png) 0 0 no-repeat;
	width: 43px;
	height: 24px;
	margin-top: 10px;
}
.lightbox .page-title a.button{
	border:0;
}
